In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
# Load the dataset
faa_df = pd.read_csv('data/faa_ai_prelim.csv')
display(faa_df.head())
faa_df.info()

# Combine date and time columns into a single datetime column
faa_df['EVENT_DATETIME'] = pd.to_datetime(faa_df['EVENT_LCL_DATE'] + ' ' + faa_df['EVENT_LCL_TIME'], errors='coerce')

# Extract required columns
required_cols = [
    'ACFT_MAKE_NAME', 'LOC_STATE_NAME', 'ACFT_MODEL_NAME', 'RMK_TEXT',
    'FLT_PHASE', 'EVENT_TYPE_DESC', 'FATAL_FLAG', 'ACFT_DMG_DESC', 'EVENT_DATETIME'
]
faa_selected = faa_df[required_cols].copy()

# Show the selected columns and missing values
print('\n--- Selected Columns Head ---')
display(faa_selected.head())
print('\n--- Missing Values ---')
print(faa_selected.isnull().sum())

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-Feb-16,19-Feb-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-Feb-16,18-Feb-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-Feb-16,18-Feb-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-Feb-16,18-Feb-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-Feb-16,18-Feb-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   UPDATED              83 non-null     object
 1   ENTRY_DATE           83 non-null     object
 2   EVENT_LCL_DATE       83 non-null     object
 3   EVENT_LCL_TIME       83 non-null     object
 4   LOC_CITY_NAME        83 non-null     object
 5   LOC_STATE_NAME       83 non-null     object
 6   LOC_CNTRY_NAME       2 non-null      object
 7   RMK_TEXT             83 non-null     object
 8   EVENT_TYPE_DESC      83 non-null     object
 9   FSDO_DESC            81 non-null     object
 10  REGIST_NBR           83 non-null     object
 11  FLT_NBR              6 non-null      object
 12  ACFT_OPRTR           7 non-null      object
 13  ACFT_MAKE_NAME       78 non-null     object
 14  ACFT_MODEL_NAME      79 non-null     object
 15  ACFT_MISSING_FLAG    0 non-null      float64
 16  ACFT_DMG_DESC        74 non-null     object
 17  FLT_ACTIVITY         13 non-null     object
 18  FLT_PHASE            82 non-null     object
 19  FAR_PART             1 non-null      float64
 20  MAX_INJ_LVL          19 non-null     object
 21  FATAL_FLAG           8 non-null      object
 22  FLT_CRW_INJ_NONE     64 non-null     float64
 23  FLT_CRW_INJ_MINOR    6 non-null      float64
 24  FLT_CRW_INJ_SERIOUS  1 non-null      float64
 25  FLT_CRW_INJ_FATAL    8 non-null      float64
 26  FLT_CRW_INJ_UNK      0 non-null      float64
 27  CBN_CRW_INJ_NONE     0 non-null      float64
 28  CBN_CRW_INJ_MINOR    0 non-null      float64
 29  CBN_CRW_INJ_SERIOUS  0 non-null      float64
 30  CBN_CRW_INJ_FATAL    0 non-null      float64
 31  CBN_CRW_INJ_UNK      1 non-null      float64
 32  PAX_INJ_NONE         17 non-null     float64
 33  PAX_INJ_MINOR        1 non-null      float64
 34  PAX_INJ_SERIOUS      3 non-null      float64
 35  PAX_INJ_FATAL        1 non-null      float64
 36  PAX_INJ_UNK          0 non-null      float64
 37  GRND_INJ_NONE        0 non-null      float64
 38  GRND_INJ_MINOR       0 non-null      float64
 39  GRND_INJ_SERIOUS     0 non-null      float64
 40  GRND_INJ_FATAL       0 non-null      float64
 41  GRND_INJ_UNK         1 non-null      float64
dtypes: float64(22), object(20)
memory usage: 27.4+ KB

--- Selected Columns Head ---

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16760\1898449630.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  faa_df['EVENT_DATETIME'] = pd.to_datetime(faa_df['EVENT_LCL_DATE'] + ' ' + faa_df['EVENT_LCL_TIME'], errors='coerce')

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG,ACFT_DMG_DESC,EVENT_DATETIME
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes,Unknown,2016-02-19 00:45:00+00:00
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,NaN,Unknown,2016-02-18 23:55:00+00:00
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,NaN,Minor,2016-02-18 22:14:00+00:00
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,NaN,Unknown,2016-02-18 17:10:00+00:00
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,NaN,Minor,2016-02-18 00:26:00+00:00

--- Missing Values ---
ACFT_MAKE_NAME      5
LOC_STATE_NAME      0
ACFT_MODEL_NAME     4
RMK_TEXT            0
FLT_PHASE           1
EVENT_TYPE_DESC     0
FATAL_FLAG         75
ACFT_DMG_DESC       9
EVENT_DATETIME      0
dtype: int64

In [4]:
# Replace all Fatal Flag missing values with 'No' (from scratch)
def replace_missing_fatal_flag(df):
    new_col = []
    for val in df['FATAL_FLAG']:
        if val is None or (isinstance(val, float) and np.isnan(val)):
            new_col.append('No')
        else:
            new_col.append(val)
    df['FATAL_FLAG'] = new_col
    return df
faa_selected = replace_missing_fatal_flag(faa_selected)

# Fill missing values in FLT_PHASE and ACFT_DMG_DESC with their mode (from scratch)
def fill_mode(df, col):
    # Calculate mode from scratch
    freq = {}
    for val in df[col]:
        if val is None or (isinstance(val, float) and np.isnan(val)):
            continue
        freq[val] = freq.get(val, 0) + 1
    mode_val = max(freq, key=freq.get)
    # Replace missing with mode
    new_col = []
    for val in df[col]:
        if val is None or (isinstance(val, float) and np.isnan(val)):
            new_col.append(mode_val)
        else:
            new_col.append(val)
    df[col] = new_col
    return df
faa_selected = fill_mode(faa_selected, 'FLT_PHASE')
faa_selected = fill_mode(faa_selected, 'ACFT_DMG_DESC')

# Verify missing values are replaced (from scratch)
def count_missing(df):
    for col in df.columns:
        count = 0
        for val in df[col]:
            if val is None or (isinstance(val, float) and np.isnan(val)):
                count += 1
        print(f"{col}: {count} missing values")
count_missing(faa_selected)

# Check the number of observations before dropping
def count_rows(df):
    count = 0
    for _ in df.iterrows():
        count += 1
    return count
print('\nNumber of observations before dropping:', count_rows(faa_selected))

# Drop observations where aircraft names are not available (from scratch)
def drop_missing_acft_make(df):
    idxs = []
    for i, val in enumerate(df['ACFT_MAKE_NAME']):
        if val is None or (isinstance(val, float) and np.isnan(val)):
            idxs.append(i)
    df = df.drop(df.index[idxs])
    return df.reset_index(drop=True)
faa_selected = drop_missing_acft_make(faa_selected)

# Drop columns with <= 75 non-null values (from scratch)
def drop_sparse_columns(df, threshold=75):
    cols_to_drop = []
    for col in df.columns:
        non_null_count = 0
        for val in df[col]:
            if not (val is None or (isinstance(val, float) and np.isnan(val))):
                non_null_count += 1
        if non_null_count <= threshold:
            cols_to_drop.append(col)
    return df.drop(columns=cols_to_drop)
faa_selected = drop_sparse_columns(faa_selected, threshold=75)

# Check the number of observations after dropping
print('Number of observations after dropping:', count_rows(faa_selected))

# Group by aircraft name and view counts (from scratch)
def group_by_acft_make(df):
    counts = {}
    for val in df['ACFT_MAKE_NAME']:
        counts[val] = counts.get(val, 0) + 1
    print('\n--- Aircraft Type Counts ---')
    for k, v in counts.items():
        print(f'{k}: {v}')
group_by_acft_make(faa_selected)

# Display observations where fatal flag is "Yes" (from scratch)
def display_fatal_yes(df):
    print('\n--- Observations with Fatal Flag "Yes" ---')
    display(df[df['FATAL_FLAG'] == 'Yes'])
display_fatal_yes(faa_selected)

# One-hot encode ACFT_DMG_DESC, drop one column to avoid multicollinearity (from scratch)
def one_hot_encode_drop_first(df, col):
    unique_vals = []
    for val in df[col]:
        if val not in unique_vals:
            unique_vals.append(val)
    if len(unique_vals) <= 1:
        return df
    first = unique_vals[0]
    for val in unique_vals[1:]:
        df[f'{col}_{val}'] = [1 if v == val else 0 for v in df[col]]
    df = df.drop(columns=[col])
    return df
if 'ACFT_DMG_DESC' in faa_selected.columns:
    faa_selected = one_hot_encode_drop_first(faa_selected, 'ACFT_DMG_DESC')

# Show final dataframe head
print('\n--- Final DataFrame Head ---')
display(faa_selected.head())

ACFT_MAKE_NAME: 5 missing values
LOC_STATE_NAME: 0 missing values
ACFT_MODEL_NAME: 4 missing values
RMK_TEXT: 0 missing values
FLT_PHASE: 0 missing values
EVENT_TYPE_DESC: 0 missing values
FATAL_FLAG: 0 missing values
ACFT_DMG_DESC: 0 missing values
EVENT_DATETIME: 0 missing values

Number of observations before dropping: 83
Number of observations after dropping: 78

--- Aircraft Type Counts ---
BEECH: 9
VANS: 1
CESSNA: 23
LANCAIR: 2
BELL: 2
PIPER: 10
BOEING: 3
CHRISTEN: 1
HUGHES: 1
GLOBE: 1
GREAT LAKES: 1
CONSOLIDATED VULTEE: 1
FAIRCHILD: 1
SOCATA: 2
SAAB: 1
EMBRAER: 1
MAULE: 1
ENSTROM: 1
MOONEY: 4
PITTS: 1
AEROSTAR INTERNATIONAL: 1
CHAMPION: 2
AIRBUS: 1
GRUMMAN: 1
GULFSTREAM: 1
FLIGHT DESIGN: 1
AERO COMMANDER: 1
SABRELINER: 1
AERONCA: 1
NORTH AMERICAN: 1

--- Observations with Fatal Flag "Yes" ---

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG,ACFT_DMG_DESC,EVENT_DATETIME
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes,Unknown,2016-02-19 00:45:00+00:00
50,PIPER,Florida,PA28,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...,UNKNOWN (UNK),Accident,Yes,Destroyed,2016-02-11 11:32:00+00:00
52,FLIGHT DESIGN,California,CTLS,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...,UNKNOWN (UNK),Accident,Yes,Destroyed,2016-02-11 00:17:00+00:00
74,NORTH AMERICAN,Arizona,F51,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",UNKNOWN (UNK),Accident,Yes,Destroyed,2016-02-05 11:17:00+00:00
75,CHAMPION,California,8KCAB,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Accident,Yes,Destroyed,2016-02-05 23:02:00+00:00
76,BEECH,California,35,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Accident,Yes,Destroyed,2016-02-05 23:02:00+00:00
77,CESSNA,Alabama,182,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,UNKNOWN (UNK),Accident,Yes,Unknown,2016-02-02 01:52:00+00:00

--- Final DataFrame Head ---

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG,EVENT_DATETIME,ACFT_DMG_DESC_Minor,ACFT_DMG_DESC_Substantial,ACFT_DMG_DESC_Destroyed
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes,2016-02-19 00:45:00+00:00,0,0,0
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,No,2016-02-18 23:55:00+00:00,0,0,0
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,No,2016-02-18 22:14:00+00:00,1,0,0
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,No,2016-02-18 17:10:00+00:00,0,0,0
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,No,2016-02-18 00:26:00+00:00,1,0,0